.container{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    max-width: 150%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: hsl(212, 45%, 89%);
}
.main {
    padding: 16px 16px;
    text-align: center;
    border-radius: 10px;
    background: hsl(0, 0%, 100%);
    max-width: 290px;
}
img {
    max-width: 100%;
    border-radius: 10px;
}
h1 {
    font-weight: bold;
    font-size: 23px;
}
p {
    color: hsl(220, 15%, 55%);
    margin: 3px;
}
.footer {
    position: absolute;
    bottom: 0;
}